
# specify where the qt is 
QT_HOME=/home/ayaskanti/opt/qt/Desktop/Qt/474/gcc

# specify current path
XULTUBE_HOME=/media/active/projects/miniim

# specify if we need to add -e to do escape character
# parsing in echo command
ECHO=echo -e
